html {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: black;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('./joke_teller.gif');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat; 
}
button { 
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: #4A3626;
    background: #B3D0DD;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.3);
}
    button:hover {
        filter: brightness(95%);
    }
    button:active {
        transform: scale(0.90);
    }
    button:disabled {
        cursor: default;
        filter: brightness(40%);
    }




/*Media Query: tablet or smaller*/
@media screen and (max-width: 1000px){
    .container {
        background-size: cover;
        background-position: center center;
    }
    .button {
        box-shadow: 5px 5px 30px 20px rgba(255, 255, 255, 0.7);
    }
}