@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #333;
    background: whitesmoke;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    letter-spacing: 0.25rem;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4{
    font-size: 1rem;
}
/*Loader*/
/*
.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}
.loader img {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
}
*/
/*Image Container*/
.image_container {
    margin: 10px 20%;
}
.image_container img {
    width: 100%;
}

/*Media Query for tablet*/
@media screen and (max-width: 600px){
    h1 {
        font-size: 2rem;
    }
    .image_container {
    margin: 10px;
}
}

spinner {
   position: relative;
   width: 56px;
   height: 56px;
   animation: spinner-3a5251 1.25s infinite linear;
}

.spinner div {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 0;
   height: 0;
   border-left: 3.6px solid transparent;
   border-right: 3.6px solid transparent;
   border-bottom: 10.8px solid #c00aa3;
   transform-origin: center 10.8px;
}

.spinner div:before,
.spinner div:after {
   content: '';
   position: absolute;
   width: 0;
   height: 0;
   display: block;
   border-left: 10.8px solid transparent;
   border-right: 10.8px solid transparent;
   border-bottom: 7.2px solid #c00aa3;
}

.spinner div:before {
   transform: translate(-10.8px, 7.2px) rotate(35deg);
}

.spinner div:after {
   transform: translate(-10.8px, 7.2px) rotate(-35deg);
}

.spinner div:nth-child(1) {
   transform: translate(-50%, -10.8px) rotate(51.42857deg) translate(0, 320%);
}

.spinner div:nth-child(2) {
   transform: translate(-50%, -10.8px) rotate(102.85714deg) translate(0, 320%);
}

.spinner div:nth-child(3) {
   transform: translate(-50%, -10.8px) rotate(154.28571deg) translate(0, 320%);
}

.spinner div:nth-child(4) {
   transform: translate(-50%, -10.8px) rotate(205.71429deg) translate(0, 320%);
}

.spinner div:nth-child(5) {
   transform: translate(-50%, -10.8px) rotate(257.14286deg) translate(0, 320%);
}

.spinner div:nth-child(6) {
   transform: translate(-50%, -10.8px) rotate(308.57143deg) translate(0, 320%);
}

.spinner div:nth-child(7) {
   transform: translate(-50%, -10.8px) rotate(360deg) translate(0, 320%);
}

@keyframes spinner-3a5251 {
   to {
      transform: rotate(360deg);
   }
}